## INTEGERS

In [1]:
print(123456789 + 1)

123456790

In [2]:
print(10)
print(type(10))

10
<class 'int'>

## Floating-Point Numbers

In [1]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

## STRING

In [3]:
print("Dwi Ratna")
print(type("Dwi Ratna"))

Dwi Ratna
<class 'str'>

In [4]:
print('')

In [5]:
print("This String Contains a single quote (') character.")
print('This String contains a double quote (") character.')

This String Contains a single quote (') character.
This String contains a double quote (") character.

## BOOLEAN TYPE, BOOLEAN CONTEXT, AND "TRUTHINESS"

In [6]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## VARIABLE ASSIGNMENT

In [7]:
n = 300

In [8]:
print(n)

300

In [9]:
n

300

In [10]:
n = 10000
print(n)

n

10000

10000

In [11]:
a = b = c = 4000
print(a, b, c)

4000 4000 4000

## VARIABLE TYPES IN PYTHON

In [12]:
var = 23.5
print(var)

var = "Now I'm a String"
print(var)

23.5
Now I'm a String

## VARIABLE NAMES

In [13]:
name = "Dwi Ratna"
Age = 24
has_laptops = True
print(name, Age, has_laptops)

Dwi Ratna 24 True

In [14]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

## OPERATORS AND EXPRESSIONS IN PY

In [15]:
a = 10
b = 20
a + b

30

In [16]:
a = 10
b = 30
a - b + 5

-15

## ARITHMETIC OPERATORS

In [17]:
a = 4
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [18]:
10 / 5

2.0

## COMPARISON OPERATORS

In [19]:
a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)

a = 30 
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

## STRING MANIPULATUION

In [21]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)

print('Dwi ' + 'Ratna')

foobar
foobarbaz
Dwi Ratna

In [22]:
s = 'foo'
s * 4

'foofoofoofoo'

In [23]:
# in operators

s = 'foo'
print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [24]:
# Case conversion
s = 'BlackPink'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Blackpink
blackpink
bLACKpINK
Blackpink
BLACKPINK

# Pyhton Lists

In [25]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

In [26]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

## Lists Objects

In [27]:
a = [21.48, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.48, 'foobar', 3, 4, 'bark', False, 3.14159]

## List Elements

In [28]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [29]:
print(a[0])
print(a[5])

foo
corge

In [30]:
print(a[-3])
print(a[-6])

qux
foo

In [31]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [32]:
# The concatenation (+) and replication (*) operators :
print(a)

print(a + ['grault', 'graply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'graply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [34]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

## Modifying a Single List Value

In [36]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a [-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [37]:
# A list item can be deleted with the del command

del a [3]

In [38]:
print(a)

['foo', 'bar', 10, 'quux', 20]

## Modifying Multiple List Value

In [39]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## Tuple

In [40]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [41]:
print(t[0])

print(t[-1])

foo
corge

In [42]:
# Packing and Unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

## Defining a Dictionary

In [43]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}

In [44]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

#error
# MLB_team['Toronto]

Twins
Rockies

In [45]:
#Addig an entry to an axisting dictionary is simply a metter of assigning a new key and value

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [46]:
# update entry

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [47]:
# delete entry

del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

## Building a Dictionary Incrementally

In [55]:
person = {}
type(person)

person['fname'] = 'Dwi'
person['lname'] = 'Ratna'
person['age']   = 24
person['spouse']= 'Edna'
person['children']= ['Ralph', 'Betty', 'Joey']
person['pets'] = {'Cat': 'Apin', 'Bird': ' Ijong'}

In [56]:
person

{'fname': 'Dwi',
 'lname': 'Ratna',
 'age': 24,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'Cat': 'Apin', 'Bird': ' Ijong'}}

In [50]:
print(person['fname'])
print(person['lname'])

Dwi
Ratna

In [51]:
print(person['children'])
print(person['children'][2])

['Ralph', 'Betty', 'Joey']
Joey

In [57]:
print(person['pets'])
print(person['pets']['Cat'])

{'Cat': 'Apin', 'Bird': ' Ijong'}
Apin

In [58]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# Values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation

In [60]:
person1_age = 24
person2_age = 23
person3_age = 30

someone_is_of_working_age = (person1_age >= 24 and person1_age <= 28) or (person2_age 
 >= 23 and person2_age <= 35) or (person3_age >= 30 and person3_age <= 40)
someone_is_of_working_age

True

In [61]:
someone_is_of_working_age = (
    (person1_age >= 24 and person1_age <= 28) 
    or (person2_age >= 23 and person2_age <= 35) 
    or (person3_age >= 30 and person3_age <= 40)
)

someone_is_of_working_age

True